@charset "utf-8";
/* CSS Document */

html {
  height: 100%;
}
body {
  height: 100%;
  /*background: #F5F5F5;*/
}

.content {
  padding: 0 .4rem;
  padding-top: 1.8rem;
  font-size: .4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .img {
  width: 4rem;
}
.content .text {
  display: flex;
  align-items: center;
  padding-top: .8rem;
}
.content .name {
  font-size: .5rem;
  margin: 0 .4rem;
  color: #E8176C;
}
.content .btn {
  width: 100%;
  position: absolute;
  bottom: .3rem;
  text-align: center;
}
.content .btn input{
  width: 90%;
  height: 1rem;
  background: #E8176C;
  color: #eee;
}
